
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 119.8rem;
}.item--jgE {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.item--jgE .property-1default-pxa {
  box-sizing: border-box;
  padding: 66.2rem 0rem 0.7rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-41-bg-BvS.png');
  border-radius: 2.5rem 2.5rem 0 0;
  flex-shrink: 0;
}
.item--jgE .property-1default-pxa .auto-group-jvfk-Z9U {
  margin-bottom: 0.3rem;
  width: 100%;
  background-color: #626262;
  flex-shrink: 0;
}
.item--jgE .property-1default-pxa .auto-group-jvfk-Z9U .rectangle-40-7Rt {
  width: 77.7rem;
  height: 0.9rem;
  background-color: #56c2b5;
}
.item--jgE .property-1default-pxa .auto-group-ngq2-qsg {
  margin-left: 0.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--jgE .property-1default-pxa .auto-group-ngq2-qsg .pause-P8W {
  margin-right: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--jgE .property-1default-pxa .auto-group-ngq2-qsg .volume-on-Wyp {
  margin-right: 1.75rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--jgE .property-1default-pxa .auto-group-ngq2-qsg .item-14-33-22-15-rXt {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jgE .property-1variant2-7ii {
  box-sizing: border-box;
  padding: 66.2rem 0rem 0.7rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-25-bg-wRk.png');
  border-radius: 2.5rem 2.5rem 0 0;
  flex-shrink: 0;
}
.item--jgE .property-1variant2-7ii .auto-group-5ldg-eTk {
  margin-bottom: 0.3rem;
  width: 100%;
  background-color: #626262;
  flex-shrink: 0;
}
.item--jgE .property-1variant2-7ii .auto-group-5ldg-eTk .rectangle-40-btn {
  width: 77.7rem;
  height: 0.9rem;
  background-color: #56c2b5;
}
.item--jgE .property-1variant2-7ii .auto-group-tvmu-8ti {
  margin-left: 0.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--jgE .property-1variant2-7ii .auto-group-tvmu-8ti .play-VUN {
  margin-right: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--jgE .property-1variant2-7ii .auto-group-tvmu-8ti .volume-on-DvA {
  margin-right: 1.75rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--jgE .property-1variant2-7ii .auto-group-tvmu-8ti .item-14-33-22-15-eEn {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jgE .property-1variant3-uwQ {
  box-sizing: border-box;
  padding: 66.2rem 0rem 0.7rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-41-bg-wa2.png');
  border-radius: 2.5rem 2.5rem 0 0;
  flex-shrink: 0;
}
.item--jgE .property-1variant3-uwQ .auto-group-97te-dsQ {
  margin-bottom: 0.3rem;
  width: 100%;
  background-color: #626262;
  flex-shrink: 0;
}
.item--jgE .property-1variant3-uwQ .auto-group-97te-dsQ .rectangle-40-zT4 {
  width: 77.7rem;
  height: 0.9rem;
  background-color: #56c2b5;
}
.item--jgE .property-1variant3-uwQ .auto-group-55kg-XSz {
  margin-left: 0.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--jgE .property-1variant3-uwQ .auto-group-55kg-XSz .pause-Ud8 {
  margin-right: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--jgE .property-1variant3-uwQ .auto-group-55kg-XSz .volume-off-cjL {
  margin-right: 1.75rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--jgE .property-1variant3-uwQ .auto-group-55kg-XSz .item-14-33-22-15-k4r {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jgE .property-1variant4-zjt {
  box-sizing: border-box;
  padding: 66.2rem 0rem 0.7rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-41-bg-LNv.png');
  border-radius: 2.5rem 2.5rem 0 0;
  flex-shrink: 0;
}
.item--jgE .property-1variant4-zjt .auto-group-uhm4-KXG {
  margin-bottom: 0.3rem;
  width: 100%;
  background-color: #626262;
  flex-shrink: 0;
}
.item--jgE .property-1variant4-zjt .auto-group-uhm4-KXG .rectangle-40-GhQ {
  width: 77.7rem;
  height: 0.9rem;
  background-color: #56c2b5;
}
.item--jgE .property-1variant4-zjt .auto-group-z3qv-ztJ {
  margin-left: 0.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--jgE .property-1variant4-zjt .auto-group-z3qv-ztJ .play-h22 {
  margin-right: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--jgE .property-1variant4-zjt .auto-group-z3qv-ztJ .volume-off-nZG {
  margin-right: 1.75rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--jgE .property-1variant4-zjt .auto-group-z3qv-ztJ .item-14-33-22-15-6K4 {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
