
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item-1-g7c {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f3af44;
}
.item-1-g7c .auto-group-u8qx-6BL {
  box-sizing: border-box;
  padding: 3.05rem 4.1rem 1rem 16rem;
  width: 100%;
  height: 21.4rem;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-11-bg.png');
  flex-shrink: 0;
}
.item-1-g7c .auto-group-u8qx-6BL .auto-group-uslr-zXc {
  margin: 11.35rem 4.4rem 0rem 0rem;
  width: 29rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item-1-g7c .auto-group-u8qx-6BL .item--dKg {
  margin: 0rem 0.65rem 9.05rem 0rem;
  text-align: center;
  font-size: 5.5rem;
  font-weight: 900;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Versus, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-g7c .auto-group-u8qx-6BL .auto-group-cpwz-Hf8 {
  width: 44.65rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-1-g7c .auto-group-u8qx-6BL .auto-group-cpwz-Hf8 .auto-group-4jkx-qRk {
  margin: 0rem 0rem 4.25rem 20rem;
  width: calc(100% - 20rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-g7c .auto-group-u8qx-6BL .auto-group-cpwz-Hf8 .auto-group-4jkx-qRk .item--m4W {
  margin-right: 0.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-g7c .auto-group-u8qx-6BL .auto-group-cpwz-Hf8 .auto-group-4jkx-qRk .item--rre {
  margin-bottom: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-g7c .auto-group-u8qx-6BL .auto-group-cpwz-Hf8 .auto-group-huys-ZFG {
  margin-right: 14.85rem;
  width: 29.8rem;
  height: 6rem;
  position: relative;
  flex-shrink: 0;
}
.item-1-g7c .auto-group-u8qx-6BL .auto-group-cpwz-Hf8 .auto-group-huys-ZFG .rectangle-23-6FC {
  width: 29rem;
  height: 6rem;
  position: absolute;
  left: 0.45rem;
  top: 0;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
}
.item-1-g7c .auto-group-u8qx-6BL .auto-group-cpwz-Hf8 .auto-group-huys-ZFG .item--D4v {
  width: 29.8rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 1.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.item-1-g7c .auto-group-bhg6-qMC {
  box-sizing: border-box;
  padding: 2.05rem 0rem 11.7rem 0rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  flex-shrink: 0;
}
.item-1-g7c .auto-group-bhg6-qMC .item--kyx {
  margin-bottom: 1.95rem;
  max-width: 89.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Versus, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-1-g7c .auto-group-bhg6-qMC .rectangle-8-n9x {
  margin-bottom: 14.2rem;
  width: 100%;
  height: 20.5rem;
  background-color: #5a5349;
  flex-shrink: 0;
}
.item-1-g7c .auto-group-bhg6-qMC .rectangle-9-vGA {
  width: 100%;
  height: 20.5rem;
  background-color: #5a5349;
  flex-shrink: 0;
}
