
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 119.8rem;
}.item--t3c {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.item--t3c .property-1default-yqk {
  box-sizing: border-box;
  padding: 66.2rem 0rem 0.7rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-41-bg-Dvr.png');
  border-radius: 2.5rem 2.5rem 0 0;
  flex-shrink: 0;
}
.item--t3c .property-1default-yqk .auto-group-tdtw-uDc {
  margin-bottom: 0.3rem;
  width: 100%;
  background-color: #626262;
  flex-shrink: 0;
}
.item--t3c .property-1default-yqk .auto-group-tdtw-uDc .rectangle-40-4MQ {
  width: 77.7rem;
  height: 0.9rem;
  background-color: #56c2b5;
}
.item--t3c .property-1default-yqk .auto-group-hysg-11k {
  margin-left: 0.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--t3c .property-1default-yqk .auto-group-hysg-11k .pause-YXU {
  margin-right: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--t3c .property-1default-yqk .auto-group-hysg-11k .volume-on-t5Y {
  margin-right: 1.75rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--t3c .property-1default-yqk .auto-group-hysg-11k .item-14-33-22-15-1vr {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--t3c .property-1variant2-sy4 {
  box-sizing: border-box;
  padding: 66.2rem 0rem 0.7rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-25-bg-qi2.png');
  border-radius: 2.5rem 2.5rem 0 0;
  flex-shrink: 0;
}
.item--t3c .property-1variant2-sy4 .auto-group-hrun-ori {
  margin-bottom: 0.3rem;
  width: 100%;
  background-color: #626262;
  flex-shrink: 0;
}
.item--t3c .property-1variant2-sy4 .auto-group-hrun-ori .rectangle-40-mHk {
  width: 77.7rem;
  height: 0.9rem;
  background-color: #56c2b5;
}
.item--t3c .property-1variant2-sy4 .auto-group-gz26-hhC {
  margin-left: 0.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--t3c .property-1variant2-sy4 .auto-group-gz26-hhC .play-4Gr {
  margin-right: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--t3c .property-1variant2-sy4 .auto-group-gz26-hhC .volume-on-Ppv {
  margin-right: 1.75rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--t3c .property-1variant2-sy4 .auto-group-gz26-hhC .item-14-33-22-15-jNz {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--t3c .property-1variant3-CGa {
  box-sizing: border-box;
  padding: 66.2rem 0rem 0.7rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-41-bg-eiv.png');
  border-radius: 2.5rem 2.5rem 0 0;
  flex-shrink: 0;
}
.item--t3c .property-1variant3-CGa .auto-group-urt6-XJr {
  margin-bottom: 0.3rem;
  width: 100%;
  background-color: #626262;
  flex-shrink: 0;
}
.item--t3c .property-1variant3-CGa .auto-group-urt6-XJr .rectangle-40-HYv {
  width: 77.7rem;
  height: 0.9rem;
  background-color: #56c2b5;
}
.item--t3c .property-1variant3-CGa .auto-group-qzaw-d6z {
  margin-left: 0.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--t3c .property-1variant3-CGa .auto-group-qzaw-d6z .pause-myt {
  margin-right: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--t3c .property-1variant3-CGa .auto-group-qzaw-d6z .volume-off-XCN {
  margin-right: 1.75rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--t3c .property-1variant3-CGa .auto-group-qzaw-d6z .item-14-33-22-15-Fu4 {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--t3c .property-1variant4-i1x {
  box-sizing: border-box;
  padding: 66.2rem 0rem 0.7rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-41-bg-6KC.png');
  border-radius: 2.5rem 2.5rem 0 0;
  flex-shrink: 0;
}
.item--t3c .property-1variant4-i1x .auto-group-kdox-Ekz {
  margin-bottom: 0.3rem;
  width: 100%;
  background-color: #626262;
  flex-shrink: 0;
}
.item--t3c .property-1variant4-i1x .auto-group-kdox-Ekz .rectangle-40-zkA {
  width: 77.7rem;
  height: 0.9rem;
  background-color: #56c2b5;
}
.item--t3c .property-1variant4-i1x .auto-group-7n6n-97G {
  margin-left: 0.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--t3c .property-1variant4-i1x .auto-group-7n6n-97G .play-gN6 {
  margin-right: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--t3c .property-1variant4-i1x .auto-group-7n6n-97G .volume-off-R4n {
  margin-right: 1.75rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--t3c .property-1variant4-i1x .auto-group-7n6n-97G .item-14-33-22-15-k74 {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
