
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item-2-3Si {
  box-sizing: border-box;
  padding: 6.4rem 4.8rem 12.6rem 14.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 90.65rem);
  grid-auto-rows: 58.6606rem;
  background: linear-gradient(180deg, #f2ae43 -0%, rgba(6, 3, 2, 0) 100%);
}
.item-2-3Si .item--o4W {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Versus, 'Source Sans Pro';
  white-space: nowrap;
}
.item-2-3Si .auto-group-vrv8-tbk {
  width: 115.8rem;
  height: 71.5rem;
  position: relative;
}
.item-2-3Si .auto-group-vrv8-tbk .rectangle-25-R5t {
  width: 115.8rem;
  height: 71.4rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.5rem 2.5rem 0 0;
}
.item-2-3Si .auto-group-vrv8-tbk .rectangle-39-6hp {
  width: 115.8rem;
  height: 0.9rem;
  position: absolute;
  left: 0;
  top: 66.3rem;
  background-color: #626262;
}
.item-2-3Si .auto-group-vrv8-tbk .rectangle-40-ocE {
  width: 77.7rem;
  height: 0.9rem;
  position: absolute;
  left: 0;
  top: 66.3rem;
  background-color: #f2ae43;
}
.item-2-3Si .auto-group-vrv8-tbk .item-14-33-22-15-7cv {
  width: 8.4rem;
  height: 1.7rem;
  position: absolute;
  left: 10.75rem;
  top: 68.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.item-2-3Si .auto-group-vrv8-tbk .ellipse-1-XAr {
  width: 3.3rem;
  height: 3.3rem;
  position: absolute;
  left: 1.3rem;
  top: 67.5rem;
  background-color: #f2ae43;
  border-radius: 1.65rem;
}
.item-2-3Si .auto-group-vrv8-tbk .polygon-1-QkS {
  width: 2rem;
  height: 2.4rem;
  position: absolute;
  left: 2rem;
  top: 67.9rem;
  object-fit: contain;
  vertical-align: top;
}
.item-2-3Si .auto-group-gxsr-XaA {
  width: 3.4rem;
  height: 0.3152rem;
  object-fit: contain;
  vertical-align: top;
}
