
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--fSi {
  box-sizing: border-box;
  padding: 6.4rem 4.8rem 12.7rem 14.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #56c2b5 -0%, rgba(6, 3, 2, 0) 100%);
}
.item--fSi .auto-group-hq1y-HU6 {
  margin: 0rem 0rem 5.35rem 38.6rem;
  width: calc(100% - 38.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--fSi .auto-group-hq1y-HU6 .item--Dce {
  margin: 0.25rem 44.5rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Versus, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--fSi .auto-group-hq1y-HU6 .group-4-W5x {
  width: 3.4rem;
  height: 0.3152rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--fSi .auto-group-jyts-F3Y {
  margin-right: 9.3rem;
  width: 115.8rem;
  height: 71.4rem;
  flex-shrink: 0;
}
.item--fSi .auto-group-jyts-F3Y .item--arW {
  box-sizing: border-box;
  padding: 66.2rem 0rem 0.7rem 0rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-41-bg-NxJ.png');
  border-radius: 2.5rem 2.5rem 0 0;
}
.item--fSi .auto-group-jyts-F3Y .item--arW .auto-group-ffia-Via {
  margin-bottom: 0.3rem;
  width: 100%;
  background-color: #626262;
  flex-shrink: 0;
}
.item--fSi .auto-group-jyts-F3Y .item--arW .auto-group-ffia-Via .rectangle-40-ebU {
  width: 77.7rem;
  height: 0.9rem;
  background-color: #56c2b5;
}
.item--fSi .auto-group-jyts-F3Y .item--arW .auto-group-pdq6-yte {
  margin-left: 0.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--fSi .auto-group-jyts-F3Y .item--arW .auto-group-pdq6-yte .pause-irE {
  margin-right: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--fSi .auto-group-jyts-F3Y .item--arW .auto-group-pdq6-yte .volume-on-FbG {
  margin-right: 1.75rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--fSi .auto-group-jyts-F3Y .item--arW .auto-group-pdq6-yte .item-14-33-22-15-Bjp {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
