
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--CyG {
  box-sizing: border-box;
  padding: 3.5rem 4.8rem 12.7rem 14.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #56c2b5 -0%, rgba(6, 3, 2, 0) 100%);
}
.item--CyG .auto-group-vpwa-2Bc {
  margin: 0rem 0rem 2.2rem 23.85rem;
  width: calc(100% - 23.85rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--CyG .auto-group-vpwa-2Bc .item--x5G {
  margin-right: 29.85rem;
  max-width: 68rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Versus, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--CyG .auto-group-vpwa-2Bc .group-4-QT4 {
  margin-top: 2.9rem;
  width: 3.4rem;
  height: 0.3152rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--CyG .auto-group-elgj-Y3U {
  margin-right: 9.3rem;
  width: 115.8rem;
  height: 71.4rem;
  flex-shrink: 0;
}
.item--CyG .auto-group-elgj-Y3U .item--gQa {
  box-sizing: border-box;
  padding: 66.2rem 0rem 0.7rem 0rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-41-bg-ZD4.png');
  border-radius: 2.5rem 2.5rem 0 0;
}
.item--CyG .auto-group-elgj-Y3U .item--gQa .auto-group-otkv-UrE {
  margin-bottom: 0.3rem;
  width: 100%;
  background-color: #626262;
  flex-shrink: 0;
}
.item--CyG .auto-group-elgj-Y3U .item--gQa .auto-group-otkv-UrE .rectangle-40-EaW {
  width: 77.7rem;
  height: 0.9rem;
  background-color: #56c2b5;
}
.item--CyG .auto-group-elgj-Y3U .item--gQa .auto-group-p2je-Zcn {
  margin-left: 0.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--CyG .auto-group-elgj-Y3U .item--gQa .auto-group-p2je-Zcn .pause-Wnv {
  margin-right: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--CyG .auto-group-elgj-Y3U .item--gQa .auto-group-p2je-Zcn .volume-on-TCN {
  margin-right: 1.75rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--CyG .auto-group-elgj-Y3U .item--gQa .auto-group-p2je-Zcn .item-14-33-22-15-Pbp {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
