
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item-1-Dzz {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #f3af44;
}
.item-1-Dzz .image-26-RrA {
  width: 13.1rem;
  height: 21.4rem;
  position: absolute;
  left: 130.9rem;
  top: 2.8rem;
  object-fit: cover;
  vertical-align: top;
}
.item-1-Dzz .image-27-kdY {
  width: 9.3rem;
  height: 16.7rem;
  position: absolute;
  left: 123.8rem;
  top: 7.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-1-Dzz .image-35-V5L {
  width: 14.6rem;
  height: 30.5rem;
  position: absolute;
  left: 101.5rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item-1-Dzz .image-36-RUn {
  width: 20.5rem;
  height: 19.1rem;
  position: absolute;
  left: 45.9rem;
  top: 6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-1-Dzz .rectangle-8-xUi {
  width: 144rem;
  height: 81rem;
  position: absolute;
  left: 0;
  top: 21.4rem;
  background-color: #000000;
}
.item-1-Dzz .rectangle-8-VzS {
  width: 144rem;
  height: 20.5rem;
  position: absolute;
  left: 0;
  top: 35.5rem;
  background-color: #5a5349;
}
.item-1-Dzz .rectangle-9-FCv {
  width: 144rem;
  height: 20.5rem;
  position: absolute;
  left: 0;
  top: 70.2rem;
  background-color: #5a5349;
}
.item-1-Dzz .image-11-nTk {
  width: 144rem;
  height: 21.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fd6a00;
}
.item-1-Dzz .rectangle-23-LVG {
  width: 29rem;
  height: 6rem;
  position: absolute;
  left: 16rem;
  top: 14.4rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
}
.item-1-Dzz .rectangle-24-T46 {
  width: 29rem;
  height: 6rem;
  position: absolute;
  left: 95.7rem;
  top: 14.4rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
}
.item-1-Dzz .image-28-yo8 {
  width: 28.8rem;
  height: 12.5rem;
  position: absolute;
  left: 67.9rem;
  top: 9.1rem;
  object-fit: cover;
  vertical-align: top;
}
.item-1-Dzz .item--iVp {
  width: 29.8rem;
  height: 2.9rem;
  position: absolute;
  left: 95.25rem;
  top: 15.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.item-1-Dzz .item--MYn {
  width: 11.5rem;
  height: 2.9rem;
  position: absolute;
  left: 24.7rem;
  top: 15.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.item-1-Dzz .item--eGz {
  width: 45.2rem;
  height: 7rem;
  position: absolute;
  left: 49.4rem;
  top: 3.6rem;
  text-align: center;
  font-size: 5.5rem;
  font-weight: 900;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Versus, 'Source Sans Pro';
  white-space: nowrap;
}
.item-1-Dzz .rectangle-24-7wG {
  width: 21.2rem;
  height: 30.4rem;
  position: absolute;
  left: 3.4rem;
  top: 28rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-24-bg-fzA.png');
}
.item-1-Dzz .rectangle-25-qcN {
  width: 21.2rem;
  height: 30.4rem;
  position: absolute;
  left: 26.6rem;
  top: 28rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-25-bg-LBk.png');
}
.item-1-Dzz .rectangle-26-Z2a {
  width: 21.2rem;
  height: 30.4rem;
  position: absolute;
  left: 49.8rem;
  top: 28rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-26-bg-YvW.png');
}
.item-1-Dzz .rectangle-27-sox {
  width: 21.2rem;
  height: 30.4rem;
  position: absolute;
  left: 73rem;
  top: 28rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-27-bg-ZD4.png');
}
.item-1-Dzz .rectangle-28-cFk {
  width: 21.2rem;
  height: 30.4rem;
  position: absolute;
  left: 96.2rem;
  top: 28rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-28-bg-kjU.png');
}
.item-1-Dzz .rectangle-29-jbG {
  width: 21.2rem;
  height: 30.4rem;
  position: absolute;
  left: 119.4rem;
  top: 28rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-29-bg-e3k.png');
}
.item-1-Dzz .rectangle-30-G5Q {
  width: 21.2rem;
  height: 30.4rem;
  position: absolute;
  left: 3.4rem;
  top: 65.3rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-30-bg-itz.png');
}
.item-1-Dzz .rectangle-31-z1Q {
  width: 21.2rem;
  height: 30.4rem;
  position: absolute;
  left: 26.6rem;
  top: 65.3rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-31-bg-pcJ.png');
}
.item-1-Dzz .rectangle-32-v9x {
  width: 21.2rem;
  height: 30.4rem;
  position: absolute;
  left: 49.8rem;
  top: 65.3rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-32-bg-ozz.png');
}
.item-1-Dzz .rectangle-33-Stz {
  width: 21.2rem;
  height: 30.4rem;
  position: absolute;
  left: 73rem;
  top: 65.3rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-33-bg-kav.png');
}
.item-1-Dzz .rectangle-34-mAa {
  width: 21.2rem;
  height: 30.4rem;
  position: absolute;
  left: 96.2rem;
  top: 65.3rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-34-bg-X1t.png');
}
.item-1-Dzz .rectangle-35-Gt2 {
  width: 21.2rem;
  height: 30.4rem;
  position: absolute;
  left: 119.4rem;
  top: 65.3rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-35-bg-YiN.png');
}
.item-1-Dzz .item--QDY {
  width: 17.7rem;
  height: 2.9rem;
  position: absolute;
  left: 124.2rem;
  top: 5.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.item-1-Dzz .item--GmY {
  width: 6.3rem;
  height: 7.1rem;
  position: absolute;
  left: 117.25rem;
  top: 3.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.item-1-Dzz .image-25-Ac2 {
  width: 18.8rem;
  height: 23.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
