
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--11k {
  box-sizing: border-box;
  padding: 6.4rem 4.8rem 12.7rem 14.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #56c2b5 -0%, rgba(6, 3, 2, 0) 100%);
}
.item--11k .auto-group-k7zi-QZg {
  margin: 0rem 0rem 5.35rem 52.25rem;
  width: calc(100% - 52.25rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--11k .auto-group-k7zi-QZg .item--YQz {
  margin: 0.25rem 58.25rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Versus, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--11k .auto-group-k7zi-QZg .group-4-Eoc {
  width: 3.4rem;
  height: 0.3152rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--11k .auto-group-9su6-aca {
  margin-right: 9.3rem;
  width: 115.8rem;
  height: 71.4rem;
  flex-shrink: 0;
}
.item--11k .auto-group-9su6-aca .item--HWz {
  box-sizing: border-box;
  padding: 66.2rem 0rem 0.7rem 0rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-41-bg-ZqL.png');
  border-radius: 2.5rem 2.5rem 0 0;
}
.item--11k .auto-group-9su6-aca .item--HWz .auto-group-gyn2-BcN {
  margin-bottom: 0.3rem;
  width: 100%;
  background-color: #626262;
  flex-shrink: 0;
}
.item--11k .auto-group-9su6-aca .item--HWz .auto-group-gyn2-BcN .rectangle-40-8nW {
  width: 77.7rem;
  height: 0.9rem;
  background-color: #56c2b5;
}
.item--11k .auto-group-9su6-aca .item--HWz .auto-group-jjwj-4gA {
  margin-left: 0.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--11k .auto-group-9su6-aca .item--HWz .auto-group-jjwj-4gA .pause-1bQ {
  margin-right: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--11k .auto-group-9su6-aca .item--HWz .auto-group-jjwj-4gA .volume-on-MQN {
  margin-right: 1.75rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--11k .auto-group-9su6-aca .item--HWz .auto-group-jjwj-4gA .item-14-33-22-15-674 {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
