
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 35.3rem;
}.image-21-icS {
  width: 100%;
  height: 37.4rem;
  object-fit: cover;
  vertical-align: top;
}
