
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 20rem;
}.image-16-iaW {
  width: 100%;
  height: 31.2782rem;
  object-fit: cover;
  vertical-align: top;
}
