
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 16.3rem;
}.rectangle-71-BeS {
  width: 100%;
  height: 15.9rem;
  background-color: #f3af44;
}
